{% extends 'EguliasQuizBundle::layout.html.twig' %}

{% block extra_js %}
        <script src="{{ asset ('bundles/eguliasquiz/js/quiz_control.js') }}" type="text/javascript"></script>
{% endblock %}

{% block content %}
<form action="{% block form_action %} {{ path('egulias_quiz_save')}} {% endblock %}" method="POST" {{ form_enctype(form)}} >
{{ form_widget(form) }}
{#{ form_widget(form.question) }#}
<a href="{% block question_url %}{{ path('egulias_quiz_add_question')}}{% endblock  %}" class='addQuestion' >Add a Question</a>
<table id='questions_table'>
</table>
<input type='submit' />
</form>
{% endblock %}


