{% extends 'EguliasQuizBundle::layout.html.twig' %}

{% block content %}
<h1>{% trans %}Available Quizes{% endtrans %}</h1>
<table>
  <thead>
    <th>{% trans %} Quiz Name {% endtrans %}</th>
    <th>{% trans %} Questions {% endtrans %}</th>
    <th>{% trans %} Actions {% endtrans %}</th>
  </thead>
  <tbody>
  {% for quiz  in quizes  %}
    <tr>
      <td>{{ quiz.name  }}</td>
      <td>
      {% for question in quiz.questions  %}
        {{ question.question.name }},
      {% endfor %}
      </td>
      <td>
        <a href="{{ path('egulias_quiz_edit', {'id':quiz.id}) }}">Modify</a> |
        <a href="{{ path('egulias_quiz_take', {'id':quiz.id}) }}">Take</a>   |
        <a href="{{ path('egulias_selected_quiz_answers', {'id':quiz.id}) }}">See them</a>
      </td>
    </tr>
  {% endfor %}
  </tbody>
</table>
{% endblock %}


