{% extends 'EguliasQuizBundle::layout.html.twig' %}

{% block extra_js %}
{% endblock %}

{% block content %}
<table>
<p><a href="{{ path('egulias_quiz_add') }}">Add Quiz</a></p>
  <thead>
    <th>Quiz Name</th>
    <th>Questions</th>
    <th>Actions</th>
  </thead>
  <tbody>
  {% for quiz  in quizes  %}
    <tr>
      <td>{{ quiz.name  }}</td>
      <td>
      {% for question in quiz.questions  %}
        {{ question.question.name }},
      {% endfor %}
      </td>
      <td>
        <a href="{{ path('egulias_quiz_edit', {'id':quiz.id}) }}">Modify</a>|
        <a href="{{ path('egulias_quiz_take', {'id':quiz.id}) }}">Take</a>
      </td>
    </tr>
  {% endfor %}
  </tbody>
</table>
{% endblock %}


